@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,800;1,700&family=Dancing+Script:wght@700&family=Montserrat:wght@700&family=Oswald:wght@700&family=Pacifico&family=Playfair+Display:wght@600&family=Poppins:ital@0;1&family=Roboto:wght@400;700;900&family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin:0;
    padding:0;

}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF; 
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 1155px;
    position: relative;
    left: 120px;
    right: 165px;
    top:90px;
}
.main-title {
    font-size: 24px;
    font-weight:900;
    font-style: normal;
    color: #3A3A3A;
}

.menu-bar a{
    text-decoration: none;
    color: #3A3A3A;
    margin-right: 34px;
    font-size: 16px;
    font-weight: 600;
}

.title-container{
    width: 1155px;
    position: relative;
    left: 120px;
    right: 165px;
    top:145px;
    display: flex;

    
}

.title-info h1{
    font-size: 52px;
    font-weight:900;
    font-style: normal;
    position: relative;
    top: 15px;
}

.title-info p{
    font-size: 16px;
    font-weight:bold;
    color: #3A3A3A;
    position: relative;
    top: 5px;
}
.title-info button{
    border: 1px solid white;
    border-radius: 41px;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight:bold;
    background: #E02C6D;
    position: relative;
    top: 16px;
}
.title-pic img{
    width: 440px;
    height: 414px;
    border: 1px solid #e0dedea8;
    border-radius: 220px;
    /* position: relative; */
    
}
.logo{
    border-top: 1px solid #cac8c8ea;
    border-bottom: 1px solid #cac8c8ea;;
    position: relative;
    top: 220px;
    bottom: 30px;
    width: 1110px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}



/*........... Collection Part............ */

.collection-part{
    position: relative;
    top: 170px;
    /* background:#dad7d765; */
    display: flex;
    flex-direction: column;
    align-items: center;
    Width:1057px;
    height:1662px;
    margin: 0 auto;
   border-radius: 5px; 
}
.collection-title{
    font-size: 28px;
    padding: 20px;

}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    border-radius: 5px;
    padding: 10px;
    background:#dad7d765;
}
.collection{
    background:#FFFFFF;
    display: flex;
    flex-direction: column;
    Width:329px;
    height:446px;
   border-radius: 5px; 

}
.collection-pic,.collection-info{
    position: relative;
    left: 14px;
    top:17px;

}
collection-name{
    font-size: 28px;
    font-weight: 700;
}

.collection-info h2{
    font-size: 24px;   
}
.rating .fa-star{
    color:#FB8200;
}

.fa-star-half-alt{
    color:#FB8200;

}
.rating p span{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#787885
}
.rating-info{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#787885
}
.see-more p {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 900;
    position: relative;
    left: 1090px; 
    top:20px
    
}

/*................... Future product part........... */



.future-product{
    display: flex;
    Width:1057px;
    justify-content: space-between;
    position: relative;
    margin: 100px auto;
}
 .product-pic img{
    width: 404px;
    height: 270px;
}
.title-product h1{
    color:#0A0826;
    font-size: 38px;
    font-weight: 700;
}

.title-product p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
}

 /* ...............footer part................ */

footer{
    width:1400px;
    height: 200px;
    background: #0A0826;
    margin: 0 auto;
   
}
.product-link{
    border: 1px solid white;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight:bold;
    background: #E02C6D;
    position: relative;
    top: 16px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 30px;
    
}

.footer-info h2{
    font-size: 24px;
    color: #FFFFFF;
}
.footer-info h3,p{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    padding: 5px;
}
.footer-info span{
    font-size: 24px;
    margin-right: 16px;
}

/*.............. Responsive for Mobile/small screen device ............*/

@media screen and (max-width:600px) {
    nav,.logo,.future-product,.title-container,footer{
        flex-direction: column;
        width: 100%;
        position: static;
       
        
    }
    .collection-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .logo{
        display: none;
    }
    
}

/*.............. Responsive for Medium screen device ............*/

@media screen and (max-width:900px) {
    nav,.logo,.future-product,.title-container,footer{
        flex-direction: column;
        width: 100%;
        position: static;
       
        
    }
   
    .collection-container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .logo{
        display: none;
    }
    
}